<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../images/Logo.svg" />
    <link rel="stylesheet" href="../stylesheets/normalize.css" />
    <link rel="stylesheet" href="../stylesheets/tourStyle.css" />
    <title>Tour info</title>
  </head>
  <body>
    <header class="short-header">
      <div class="home">
        <a href="">
          <h3 class="header-text">До головної</h3>
        </a>
      </div>
      <!-- /.home -->
      <navigation class="short-navigation">
        <a href="" class="short-navigation-link">
          <h3 class="header-text">Найкращі пропозиції</h3>
        </a>
        <a class="short-navigation-link">
          <h3 class="header-text">Екскурсії</h3>
        </a>
        <a class="short-navigation-link">
          <h3 class="header-text">Подорожі закордон</h3>
        </a>
        <a class="short-navigation-link">
          <h3 class="header-text">Дитячі табори</h3>
        </a>
        <a class="short-navigation-link">
          <h3 class="header-text">Контакти</h3>
        </a>
      </navigation>
      <div class="enter-to-system">
        <button class="sign-in">
          <h3 class="header-text">Вхід</h3>
        </button>
        <!-- /.sign-in -->
        <button class="log-in">
          <h3>Реєстрація</h3>
        </button>
        <!-- /.log-in -->
      </div>
    </header>
    <container class="content">
      <div class="gallery">
        <img src="../images/test-img.JPG " alt="" class="tour-image" />
      </div>

      <div class="tour-info">
        <h1 class="header">Тур Ля-ля-ля</h1>
        <div class="discription">
          4 термальні купання, 4 дегустації, замки, канатна дорога, водоспади,
          наскельна фортеця, мальовничі гори, давні храми
        </div>
      </div>
    </container>

    <button class="feedback-btn">
      <img src="../images/question.png" alt="question" class="feedback-icon" />
    </button>
    <!-- /.feedback-btn- -->
  </body>
</html>
