<!DOCTYPE html>
<html lang="ukr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../images/Logo.svg" />
    <link rel="stylesheet" href="../stylesheets/normalize.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Name of List</title>
  </head>
  <body>
    <header class="header">
      <a href="/public/views/index.html" class="logo">
        <img src="../images/Logo.svg" alt="Logo of company" href="/" />
      </a>

      <div class="header-right">
        <div class="enter">
          <button class="button sign-in">sign-in</button>
          <button class="button login">login</button>
        </div>

        <input type="search" class="search-input" placeholder="Пошук" />
      </div>
    </header>
    <!--/.header-->
    <div class="container">
      <nav class="navigation">
        <a href="#" class="navigation-link"
          ><img src="../images/hotLogo.svg" alt="" class="navigation-logo" />
          Топ пропозиції
        </a>

        <!-- /.navigation-link -->
        <a href="#" class="navigation-link"
          ><img
            src="../images/excursionLogo.svg"
            alt=""
            class="navigation-logo"
          />
          Екскурсії
        </a>
        <!-- /.navigation-link -->
        <a href="" class="navigation-link"
          ><img
            src="../images/abroadTourLogo.svg"
            alt=""
            class="navigation-logo"
          />
          Подорожі закордон
        </a>
        <!-- /.navigation-link -->
        <a href="" class="navigation-link"
          ><img src="../images/campLogo.svg" alt="" class="navigation-logo" />
          Дитячі табори
        </a>
        <!-- /.navigation-link -->

        <a href="" class="navigation-link"
          ><img src="../images/info.svg" alt="" class="navigation-logo" />
          Інформація
        </a>
        <!-- /.navigation-link -->
      </nav>
      <!-- /.navigation -->

      <div class="finder">
        <button class="sort additional-buttons">
          <img src="../images/sort.png" alt="sort by .." class="sort-icon" />
        </button>
        <!-- /.sort -->
        <button class="filter additional-buttons">
          <img src="../images/filter.png" alt="filter" class="filter-icon" />
        </button>
        <!-- /.filter -->
      </div>

      <div class="offers">
        <a href="tourInfo.html" class="offer">
          <img src="../images/test-img.JPG" alt="" class="offer-icon" />
          <div class="offer-info">
            <h3 class="offer-title">Назва пропозиції</h3>
            <p class="offer-text">
              Цей готель розміщений за 7 хвилин їзди від станції метро
              "Житомирська" у Києві. До послуг гостей безкоштовний Wi-Fi,
              ресторан з терасою, а також номери, які оснащено кондиціонером й
              телевізором з плоским екраном. Усі класично оформлені номери
              готелю "Верховина" включають зону відпочинку і письмовий стіл.
              Ванні кімнати укомплектовані феном.
            </p>
            <div class="offer-details">
              <span class="offer-location detail">
                <h4 class="small-title">Локація</h4>
              </span>
              <!-- /.offer-location -->
              <span class="offer-price detail">
                <h4 class="small-title">Ціни</h4>
                <div class="price-parameter"></div>
                <h4 class="price-value"></h4>
                <div class="price-parameter"></div>
                <h4 class="price-value"></h4>
                <div class="price-parameter"></div>
                <h4 class="price-value"></h4>
              </span>
              <!-- /.offer-price -->
            </div>
            <!-- /.offer-details- -->
          </div>
          <!-- /.offer-info -->
        </a>
        <!-- /.offer- -->
        <div class="offer">
          <img src="" alt="" class="offer-icon" />
          <div class="offer-info"></div>
          <!-- /.offer-info -->
        </div>
        <!-- /.offer- -->
        <div class="offer">
          <img src="" alt="" class="offer-icon" />
          <div class="offer-info"></div>
          <!-- /.offer-info -->
        </div>
        <!-- /.offer- -->
        <div class="offer">
          <img src="" alt="" class="offer-icon" />
          <div class="offer-info"></div>
          <!-- /.offer-info -->
        </div>
        <!-- /.offer- -->
      </div>
      <!-- /.offers- -->
    </div>
    <!-- /.container -->

    <footer class="footer">
      <div class="footer-info contacts">
        <h3 class="footer-info-header">Контакти</h3>
        <p class="footer-info-text">тел:+38(050)0123456</p>
      </div>
      <!-- /.contacts -->
      <div class="footer-info location">
        <h3 class="footer-info-header">Координати</h3>
        <p class="footer-info-text">Проспект правди 40</p>
      </div>
      <!-- /.location -->
      <div class="footer-info rights">
        <p class="footer-info-text">Всі права зарезервовані</p>
        <p>
          Icons made by
          <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from
          <a href="https://www.flaticon.com/" title="Flaticon">
            www.flaticon.com</a
          >
        </p>
      </div>
      <!-- /.rights -->
    </footer>

    <button class="feedback-btn additional-buttons">
      <img src="../images/question.png" alt="question" class="feedback-icon" />
    </button>
    <!-- /.feedback-btn- -->
  </body>
</html>
